<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css" />
    <title>URL Shortener</title>
  </head>
  <body>
    <div id="app">
      <!-- Main Page  -->
      <form class="main-form" @submit.prevent="handleCreate">
        <h1>URL Shortener</h1>
        <input v-model="url" type="text" placeholder="Enter URL" />
        <button>Shorten!</button>
      </form>
      <!-- Created Modal -->
      <div :class="{modal: true, hidden: !showCreatedModal}">
        <div class="container">
          <p class="close" @click="showCreatedModal = false">X</p>
          <h1>Here is your shortened URL:</h1>
          <h3><a :href="fullURL">{{ fullURL }}</a></h3>
        </div>
      </div>
      <!-- Info Button -->
      <div class="info-button">
        <button @click="showInfoModal = true">Get Link Info</button>
      </div>
      <!-- Info Modal -->
      <div :class="{modal: true, hidden: !showInfoModal}">
        <div class="container">
          <p class="close" @click="showInfoModal = false">X</p>
          <h1>Get Link Info:</h1>
          <form @submit.prevent="handleInfo">
            <input
              v-model="id"
              style="width: 400px"
              type="text"
              placeholder="Link ID"
            />
            <button class="margin">Get Info</button>
          </form>
          <div class="info">
            <p>ID:</p>
            <p>{{link.id}}</p>
          </div>
          <div class="info">
            <p>Destination URL:</p>
            <a :href="link.url">{{truncatedDestination}}</a>
          </div>
          <div class="info">
            <p>Shortened URL:</p>
            <a :href="fullURL">{{fullURL}}</a>
          </div>
          <div class="info">
            <p>Clicks:</p>
            <p>{{link.uses}}</p>
          </div>
        </div>
      </div>
      <!-- Creaded by info -->
      <div class="creator">
        <p>
          Created by
          <a href="https://trevorhodsdon.dev" target="_blank">Trevor Hodsdon</a>
        </p>
      </div>
    </div>

    <!-- Vue.js script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          url: '',
          id: '',
          link: {},
          showCreatedModal: false,
          showInfoModal: false,
        },
        computed: {
          fullURL() {
            if (this.link.id) {
              return `${window.location.protocol}//${window.location.host}/${this.link.id}`
            }
            return ''
          },
          truncatedDestination() {
            if (this.link.id) {
              if (this.link.url.length > 50) {
                return this.link.url.substring(0, 20) + '...'
              }
              return this.link.url
            }
          },
        },
        methods: {
          async handleCreate() {
            if (!this.url) {
              alert('Please enter a URL to shorten')
              return
            }

            const res = await fetch('/create', {
              method: 'POST',
              body: JSON.stringify({
                url: this.url,
              }),
            })
            const data = await res.json()

            this.link = data
            this.showCreatedModal = true
          },
          async handleInfo() {
            if (!this.id) {
              alert('Enter a link ID')
            }

            const res = await fetch(`/${this.id}/info`)
            if (!res.ok) {
              alert(`Unable to find link with ID: ${this.id}`)
              return
            }
            const data = await res.json()

            this.link = data
          },
        },
      })
    </script>
  </body>
</html>
